<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- API calls go to Node -->
        <rule name="API">
          <match url="^api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Serve React static files -->
        <rule name="ReactStatic" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="../frontend/build/index.html" />
        </rule>
      </rules>
    </rewrite>

    <iisnode watchedFiles="web.config;*.js" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
